html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Fira Code';
    font-weight: 400;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

*::selection {
    background-color: #156da78b; /* Set the background color */
    color: var(--c-white); /* Set the text color */
}

:root {
    --c-dark: #121212;
    --c-dark-grey: #1e1e1e;
    --c-light-grey: #a7a7a7;
    --c-primary: #40a965;
    --c-white: #eeeeeedb;
}